[System]
udunits2_path = /path/to/libudunits2.so
dot_path = /path/to/dot # see iris.fileformats.dot

[Resources]
sample_data_dir = /path/to/iris/resources/sample_data
test_data_dir = /path/to/iris/resources/test_data

[Logging] # optional
import_logger = logger_name

[testing] # optional
image_dir = /path/to/a/writeable/directory/for/image/testing # defaults to iris/lib/iris/tests/result_image_comparison/